/***

  Compile All SCSS Files to Serve

***/
/*** UTILITIES ***/
/*** Base ***/
/***

  Concat all styles from folder

***/
/***

  Base Sass Variables and Mixins that almost .scss every file will need to import

  Base: defaults, single element selectors

  Naming Convention:
  .moduleName{}
  .moduleName-subModule{}
  .moduleName.stateName{}
  .layout-layoutName{}
  .layout-layoutName--subLayoutName{}

***/
/***

SCSS Variables

***/
/*** BG Colors ***/
/*** Colors ***/
/*** Fonts ***/
/*** Fonts ***/
/*** Padding ***/
/***

  HTML Element Mixins

***/
/***

SCSS Variables

***/
/*** BG Colors ***/
/*** Colors ***/
/*** Fonts ***/
/*** Fonts ***/
/*** Padding ***/
body {
  /*** Headers ***/
  /*** Lists ***/
  /*** Links ***/
  /*** Font ***/
  font-family: "Lato", sans-serif; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    text-transform: uppercase;
    color: #323133;
    font-size: 14px;
    font-weight: bold; }
  body ul {
    padding-left: 0px;
    margin-bottom: 0px;
    text-transform: uppercase;
    list-style-type: none; }

/***

SCSS Variables

***/
/*** BG Colors ***/
/*** Colors ***/
/*** Fonts ***/
/*** Fonts ***/
/*** Padding ***/
/***

  HTML Element Mixins

***/
/***

SCSS Variables

***/
/*** BG Colors ***/
/*** Colors ***/
/*** Fonts ***/
/*** Fonts ***/
/*** Padding ***/
/*** Layout ***/
/***

  Concat all styles from folder

  Layout: divide the page into sections, layouts hold one or more modules together

  Naming Convention:
  .moduleName{}
  .moduleName-subModule{}
  .moduleName.stateName{}
  .layout-layoutName{}
  .layout-layoutName--subLayoutName{}

***/
/***

SCSS Variables

***/
/*** BG Colors ***/
/*** Colors ***/
/*** Fonts ***/
/*** Fonts ***/
/*** Padding ***/
/***

  HTML Element Mixins

***/
/***

SCSS Variables

***/
/*** BG Colors ***/
/*** Colors ***/
/*** Fonts ***/
/*** Fonts ***/
/*** Padding ***/
/***

  Left Bar

***/
#leftBar {
  height: 100vh;
  background-color: #34495E;
  padding: 15px;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  #leftBar h1, #leftBar h2, #leftBar h3, #leftBar h4, #leftBar h5, #leftBar h6 {
    text-transform: uppercase;
    color: #808080;
    font-size: 14px;
    font-weight: bold; }
  #leftBar div:first-child span.bar {
    width: 100%;
    height: 2px;
    background-color: #A0CECB;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: auto; }
  #leftBar div:first-child h5 {
    padding: 15px 0;
    color: #95A2B0; }
  #leftBar div:nth-child(2) {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
    #leftBar div:nth-child(2) a {
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      color: #BBC5CF;
      cursor: pointer; }
      #leftBar div:nth-child(2) a:hover {
        color: #9dacba;
        cursor: pointer;
        text-decoration: none; }
      #leftBar div:nth-child(2) a i {
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
        font-size: 200%; }
  #leftBar img#profileImg {
    width: 100%;
    border-radius: 50%; }

/***

  Right Bar

***/
#rightBar {
  background-color: white;
  padding: 30px 30px 15px 15px; }
  #rightBar .center {
    text-align: center; }
  #rightBar ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    #rightBar ul li {
      padding: 15px;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
      #rightBar ul li img {
        height: 20%;
        width: 20%; }
      #rightBar ul li div {
        padding-left: 15px; }
        #rightBar ul li div h1 {
          color: #7D8995;
          text-transform: initial;
          margin-top: 0px; }
        #rightBar ul li div p {
          text-transform: initial;
          color: #D2D6D9; }
  #rightBar div.alertIcon {
    display: inline-block;
    float: left;
    margin-right: 15px; }
    #rightBar div.alertIcon i {
      font-size: 200%; }

/***

  Main news feed

***/
#main {
  background-color: white;
  padding: 30px 15px 15px 30px;
  color: blue; }

/*** Module ***/
/***

  Concat all styles from folder

  Module: reusable, modular parts of our design

  Naming Convention:
  .moduleName{}
  .moduleName-subModule{}
  .moduleName.stateName{}
  .layout-layoutName{}
  .layout-layoutName--subLayoutName{}

***/
/***

SCSS Variables

***/
/*** BG Colors ***/
/*** Colors ***/
/*** Fonts ***/
/*** Fonts ***/
/*** Padding ***/
/***

  HTML Element Mixins

***/
/***

SCSS Variables

***/
/*** BG Colors ***/
/*** Colors ***/
/*** Fonts ***/
/*** Fonts ***/
/*** Padding ***/
/***

  Concat all styles from folder

  Module: reusable, modular parts of our design

  Naming Convention:
  .moduleName{}
  .moduleName-subModule{}
  .moduleName.stateName{}
  .layout-layoutName{}
  .layout-layoutName--subLayoutName{}

***/
div.challenge {
  border-radius: 4px;
  margin-top: 15px;
  margin-bottom: 15px; }
  div.challenge .challenge--heading {
    padding: 15px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #34495E;
    color: white;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }
    div.challenge .challenge--heading div:first-child {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      div.challenge .challenge--heading div:first-child i {
        font-size: 150%;
        margin-right: 5px; }
    div.challenge .challenge--heading div:nth-child(2) {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
      div.challenge .challenge--heading div:nth-child(2) i {
        font-size: 150%;
        margin-right: 5px; }
  div.challenge .challenge--main {
    padding: 15px;
    border: 1px solid #DEE2E5;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }
    div.challenge .challenge--main div:first-child {
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1; }
      div.challenge .challenge--main div:first-child img {
        width: 50%;
        border-radius: 50%; }
    div.challenge .challenge--main div:nth-child(2) {
      -webkit-flex: 3;
      -ms-flex: 3;
      flex: 3;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }
      div.challenge .challenge--main div:nth-child(2) span:first-child {
        color: #7D8995;
        font-size: 18px; }
      div.challenge .challenge--main div:nth-child(2) span:nth-child(2) {
        color: #D2D6D9;
        font-size: 14px; }
    div.challenge .challenge--main div:last-child {
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
      div.challenge .challenge--main div:last-child a {
        font-size: 150%; }

.completed {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #DEE2E5;
  border-radius: 4px;
  margin-top: 15px;
  margin-bottom: 15px;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .completed div:first-child {
    font-size: 100%;
    color: #66D3E2;
    font-size: 150%;
    padding-left: 15px; }
    .completed div:first-child .icon-close-delete {
      color: #FF7978; }
  .completed div:nth-child(2) {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 15px;
    color: #7D8995;
    font-size: 14px; }
  .completed div:nth-child(3) {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 15px;
    color: #D2D6D9; }
  .completed div:nth-child(4), .completed div:last-child {
    padding: 15px;
    border-left: 1px solid #DEE2E5;
    font-size: 100%;
    background-color: #F7F8FA; }

/***

  Alert

***/
.alert-icon {
  display: inline-block;
  padding-right: 15px; }

.alert-text {
  display: inline-block; }

i.icon-budicon-55 {
  font-size: 250%; }

/***

  Profile

***/
<<<<<<< 88de9f2f50c1334ad21a7a3adddad075d07bc971
=======
.tab-content {
  margin-top: 15px; }

#profile #account {
  margin: 0 auto;
  display: block; }

#profile .input-group {
  margin: 15px 0;
  border: 2px solid #DEDEDE; }
  #profile .input-group input {
    border: 0px solid white; }

#profile button {
  border-radius: 50px;
  padding: 10px 30px;
  background-color: #A0CECB;
  color: white;
  font-weight: bold;
  border: 0px solid white;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 15px;
  display: block; }

#profile .btn-danger {
  background-color: #FF7978; }

>>>>>>> [refactor] : styling profile page
.charity img {
  width: 100%; }

/***

  Challenge Types/Categories

***/
ul.challengeTypes li {
  display: inline-block; }
  ul.challengeTypes li span {
    padding: 15px;
    border-radius: 50px; }
  ul.challengeTypes li .badge--active {
    background-color: #A0CECB; }

/***

  Profile

***/
ul.friendList li {
  padding: 15px;
  border-bottom: 1px solid #EFF0F4; }
  ul.friendList li img {
    width: 10%;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid white;
    box-shadow: 1px 1px 1px #E6E6E6;
    margin-right: 15px; }
  ul.friendList li p {
    display: inline-block;
    color: #70838D; }

/***

  User Challenges

***/
ul.userChallenges li img {
  width: 15%;
  border-radius: 50%;
  display: inline; }

ul.userChallenges li div {
  display: inline-block; }

<<<<<<< 88de9f2f50c1334ad21a7a3adddad075d07bc971
/* Step Navigation
------------------------------------------------------------------------- */
.stepNav {
  margin: 30px 20px;
  height: 43px;
  padding-right: 20px;
  position: relative;
  z-index: 0; }

/* z-index to make sure the buttons stack from left to right */
.stepNav li {
  float: left;
  position: relative;
  z-index: 3;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12); }

.stepNav li:first-child {
  border-radius: 5px 0 0 5px; }

.stepNav li:nth-child(2) {
  z-index: 1; }

.stepNav li:nth-child(3) {
  z-index: 0; }

/* different widths */
.stepNav.threeWide li {
  width: 33.33%; }

/* step links */
.stepNav a, .stepNav a:visited {
  width: 100%;
  height: 43px;
  padding: 0 0 0 25px;
  color: #717171;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  line-height: 43px;
  white-space: nowrap;
  border: 1px solid #cbcbcb;
  text-decoration: none;
  border-top-color: #dddddd;
  border-right: 0;
  background-color: #fbfbfb;
  background-image: linear-gradient(to top, #fbfbfb, #e9e9e9);
  float: left;
  position: relative;
  box-sizing: border-box; }

.stepNav li:first-child a {
  padding-left: 12px;
  border-radius: 5px 0 0 5px; }

.stepNav a:before {
  content: "";
  width: 29px;
  height: 29px;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #cbcbcb;
  background-image: linear-gradient(to right top, #fbfbfb, #e9e9e9);
  display: block;
  position: absolute;
  top: 6px;
  right: -16px;
  z-index: -1;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.stepNav a:hover {
  color: #2e2e2e;
  background-color: #f5f5f5;
  background-image: linear-gradient(to top, #f2f2f2, #d9d9d9); }

.stepNav a:hover:before {
  background-image: linear-gradient(to right top, #f2f2f2, #d9d9d9); }

/* selected */
.stepNav li.selected {
  box-shadow: none; }

.stepNav li.selected a, .stepNav li.selected a:before {
  background: #ebebeb; }

.stepNav li.selected a {
  border-top-color: #bebebe;
  box-shadow: inset 2px 1px 2px rgba(0, 0, 0, 0.12); }

.stepNav li.selected a:before {
  border-right: 1px solid #bebebe;
  border-bottom: 1px solid #cbcbcb;
  box-shadow: inset -1px -1px 1px rgba(0, 0, 0, 0.1); }
=======
.tab--footer {
  border-top: 1px solid #E4E7E7;
  padding-top: 15px;
  margin-top: 15px; }

.panel {
  border: 0px solid white !important; }
  .panel .panel-heading {
    text-align: center;
    padding: 30px;
    font-weight: bold;
    color: #323133 !important;
    background-color: white !important;
    border-bottom: 1px solid #F2F2F2; }
  .panel h5 {
    color: #808080;
    padding: 15px 0 30px 0;
    margin: 0;
    text-transform: initial; }
  .panel ng-message {
    color: #808080;
    font-size: 12px; }
  .panel label {
    font-weight: bold; }
  .panel input {
    border: 1px solid #E8E8E8;
    background-color: #F5F5F5; }
  .panel .terms {
    color: #808080;
    font-weight: normal; }
  .panel .form-control {
    height: 43px !important; }
  .panel button {
    border-radius: 50px;
    padding: 10px 30px;
    background-color: #A0CECB;
    color: white;
    font-weight: bold;
    border: 0px solid white;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 15px;
    display: block; }
  .panel .btn-default:hover {
    background-color: #A0CECB;
    border: 1px solid white; }
  .panel .btn-default:active:hover, .panel .btn-default.active:hover, .panel .open > .dropdown-toggle.btn-default:hover, .panel .btn-default:active:focus, .panel .btn-default.active:focus, .panel .open > .dropdown-toggle.btn-default:focus, .panel .btn-default:active.focus, .panel .btn-default.active.focus, .panel .open > .dropdown-toggle.btn-default.focus {
    background-color: #A0CECB; }
  .panel .btn-success:hover {
    background-color: #A0CECB;
    border: 1px solid white; }
  .panel .btn-success:active:hover, .panel .btn-success.active:hover, .panel .open > .dropdown-toggle.btn-success:hover, .panel .btn-success:active:focus, .panel .btn-success.active:focus, .panel .open > .dropdown-toggle.btn-success:focus, .panel .btn-success:active.focus, .panel .btn-success.active.focus, .panel .open > .dropdown-toggle.btn-success.focus {
    background-color: #A0CECB; }
  .panel a#facebook, .panel a#twitter {
    display: block;
    border-radius: 50px;
    padding: 15px 30px;
    color: white;
    width: 60%;
    margin: 1em auto;
    border: 0px solid white; }
  .panel a#facebook {
    background-color: #45609B; }
  .panel a#twitter {
    background-color: #59ADEB; }
>>>>>>> [refactor] : styling profile page

/*** State ***/
/***

  Concat all styles from folder

  State: how our modules and layouts will look when in a particular state, ex: hidden or expanded. Different screen-sizes, how a module may look in different views.

  Naming Convention:
  .moduleName{}
  .moduleName-subModule{}
  .moduleName.stateName{}
  .layout-layoutName{}
  .layout-layoutName--subLayoutName{}

***/
