<!-- 

challengeTypeRadio.html
list challenge types

 -->
 
<div ng-controller="ButtonsCtrl">
 <!-- <pre>{{radioModel || 'null'}}</pre> -->
  <div class="btn-group">
    <label class="badge btn-primary" ng-model="radioModel" uib-btn-radio="'Basketball'">Basketball</label>
    <label class="badge btn-primary" ng-model="radioModel" uib-btn-radio="'Education'">Education</label>
    <label class="badge btn-primary" ng-model="radioModel" uib-btn-radio="'Gym'">Gym</label>
    <label class="badge btn-primary" ng-model="radioModel" uib-btn-radio="'Drinking'">Drinking</label>
    <label class="badge btn-primary" ng-model="radioModel" uib-btn-radio="'Trending'">Trending</label>
    <label class="badge btn-primary" ng-model="radioModel" uib-btn-radio="'Swimming'">Swimming</label>
  </div>
</div>
