<!-- <div id="reviewDetail" >
  <img ng-src="{{challengeNC.info.challenged.photoURL}}">
  <label class="mk centerTxt">{{challengeNC.info.challenged.firstName}} {{challengeNC.info.challenged.lastName}}</label>
</div> -->

<label class="mk centerTxt marginTop4">Challenge</label>  

<div class="friendToChallenge marginTop4" ng-init="challengeNC.loadFromServiceObj()">

  <img ng-src="{{challengeNC.info.challenged.photoURL}}">

  <div>
    <p class="mk">{{challengeNC.info.challenged.firstName | capitalize}} {{challengeNC.info.challenged.lastName | capitalize}}</p>
  </div>

</div>

<p class="mk marginTop3">{{challengeNC.info.info.type | capitalize}} - {{challengeNC.info.info.title | capitalize}}</p>
<p class="mk">{{challengeNC.info.info.description | capitalize}}</p>

<label class="mk marginTop3">Donating to</label>
<p class="mk">{{challengeNC.info.charity.name}}</p>
<span class="column alignCenter">
  <img class="circle" src="image/uwba.jpg" width="15%">  
</span>