<!-- 

challenge-create.html 
create a new challenge

Parent Controller : challengeNC
  Child 1 Controller : challengeStep1Ctrl
  Child 2 Controller : challengeStep2Ctrl
  Child 3 Controller : challengeStep3Ctrl

-->

<uib-tabset class="steps" justified="true">

  <uib-tab heading="Create Challenge" active="challengeNC.tabs[0]">
    <div class="row" ng-controller="challengeStep1Ctrl as step1">
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Enter Challenger.." ng-model="friendSearch">
            <span class="input-group-addon"><i class="icon-budicon-11"></i></span>
          </div>
          <ul class="friendList" ng-init="step1.loadFriends()">
            <a href="" ng-repeat="friend in step1.friends | filter : friendSearch | limitTo : 5">
              <li ng-class="{ 'selected' : step1.selectedIndex === $index }" ng-click="step1.setSelectedIndex($index)">              
                <img ng-src="image/placeholder.png">
                <p>{{friend.firstName}} {{friend.lastName}}</p>
              </li>
            </a>
          </ul>
        </div>
      </div>
      <div class="col-md-6 challengeTypes">
        <h1>Challenge Types</h1>
        <div class="btn-group">
          <label class="badge btn-primary" ng-model="type" uib-btn-radio="'Basketball'">Basketball</label>
          <label class="badge btn-primary" ng-model="type" uib-btn-radio="'Education'">Education</label>
          <label class="badge btn-primary" ng-model="type" uib-btn-radio="'Gym'">Gym</label>
          <label class="badge btn-primary" ng-model="type" uib-btn-radio="'Drinking'">Drinking</label>
        </div>
        <input type="text" class="form-control" placeholder="Challenge Title" ng-model="title">
        <textarea type="text" col="2" class="form-control" placeholder="Challenge Description" ng-model="description"></textarea>
      </div>
    </div>
  </uib-tab>

  <uib-tab heading="Pick Charity" active="challengeNC.tabs[1]">
    <div class="row" ng-controller="challengeStep2Ctrl as step2" ng-init="step2.getCharity()">

      <ul class="grid-testimonials">
        <a href="">
          <li ng-repeat="charity in step2.charities" ng-click="step2.chooseCharity(charity)">
            <div>
              <h1>{{charity.name}}</h1>
              <p>{{charity.description}}</p>
              <a href="{{charity.link}}">{{charity.link}}</a>
              <span class="quote-arrow"></span>
            </div>
            <span class="grid-testimonials-citation"><img ng-src="{{charity.imgUrl}}" width="100%"></span>
          </li>  
        </a>                                                    
      </ul>

    </div>
  </uib-tab>

  <uib-tab heading="Submit" active="challengeNC.tabs[2]">
    <div class="row" ng-controller="challengeStep3Ctrl as step3">

      <div class="col-md-6">
        <h1>OverView</h1>

        <!-- Load Friend to Challenge -->
        <div>
          <li class="friend">              
            <img ng-src="image/placeholder.png">
            <p>{{friend.firstName}} {{friend.lastName}}</p>
          </li>
          <!-- Load Title and Description of Challenge -->
          <p>{{title}}</p>
          <p>{{description}}</p>
          <!-- Load Charity Name to Donate too -->
          <h1>{{charity.name}}</h1>
        </div>
        
      </div>
      <div class="col-md-6">
        <h1>Select Payment Info</h1>

        <!-- Braintree Drop-In Payment UI -->
        <form id="checkout" ng-init="step3.getToken()">
          <div id="payment-form"></div>
          <div class="btn-group btn-group-justified charityAmount">
            <label class="btn btn-primary" ng-model="amount" uib-btn-radio="'.25'">25&#162;</label>
            <label class="btn btn-primary" ng-model="amount" uib-btn-radio="'.50'">50&#162;</label>
            <label class="btn btn-primary" ng-model="amount" uib-btn-radio="'1.00'">100&#162;</label>
          </div>
          <button class="btn btn-success pull-right" type="submit">Create Challenge</button>
        </form>
      </div>

    </div>
  </uib-tab>

</uib-tabset>

<!-- Steps Footer -->
<div class="row tab--footer">

  <button type="button" class="btn btn-default dropdown-toggle pull-left" ng-click="challengeNC.prevTab()" ng-if="challengeNC.currentTab > 0" data-toggle="dropdown">
    <span class="icon-arrow-circle-o-left"></span> Back 
  </button>

  <button type="button" class="btn btn-default dropdown-toggle pull-right" ng-click="challengeNC.nextTab()" ng-if="challengeNC.currentTab < 2" data-toggle="dropdown">
    Next <span class="icon-arrow-circle-o-right"></span>
  </button>

</div>