<!-- 

challenge-create.html 
create a new challenge

Parent Controller : challengeNC
  Child 1 Controller : challengeStep1Ctrl
  Child 2 Controller : challengeStep2Ctrl
  Child 3 Controller : challengeStep3Ctrl

-->

<uib-tabset class="steps" justified="true">

  <uib-tab heading="Create Challenge" active="challengeNC.tabs[0]">
    <div class="row" ng-controller="challengeStep1Ctrl as step1">
      <div class="col-md-6">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Enter Challenger.." ng-model="friendSearch">
          <ul class="friendList" ng-init="step1.loadFriends()">
            <li ng-repeat="friend in step1.friends | filter : friendSearch | limitTo : 5" ng-click="step1.addFriend(friend)">
              <img ng-src="image/placeholder.png">
              <p>{{friend.firstName}} {{friend.lastName}}</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 challengeTypes">
        <h1>Challenge Details</h1>
        <div ng-include="'partial/challengeTypeRadio.html'"></div>
        <input type="text" class="form-control" placeholder="Challenge Title" ng-model="step1.title">
        <textarea type="text" col="2" class="form-control" placeholder="Challenge Description" ng-model="step1.description"></textarea>
        <button ng-click="step1.save()">Save</button>
      </div>
    </div>
  </uib-tab>

  <uib-tab heading="Pick Charity" active="challengeNC.tabs[1]">
    <div class="row" ng-controller="challengeStep2Ctrl as step2">
      <div class="col-md-4 charity" ng-repeat="charity in step2.charities" ng-click="step2.chooseCharity(self)">
        <h1>{{charity.name}}</h1>
        <p>{{charity.description}}</p>
        <a href="{{charity.website}}">{{charity.website}}</a>
        <img ng-src="{{charity.img}}">
      </div>
    </div>
  </uib-tab>

  <uib-tab heading="Submit">
    <div class="row" ng-controller="challengeStep3Ctrl as step3">
      <div class="col-md-6">
        <h1>Select Payment Info</h1>
        <!-- Braintree Drop-In Payment UI -->
        <div ng-include="'partial/payment.html'"></div>
      </div>
      <div class="col-md-6">
        <h1>OverView</h1>
        <div ng-include="'partial/paymentAmount.html'"></div>
      </div>
    </div>
  </uib-tab>

  <div class="row tab--footer">
    <button class="btn btn-primary" ng-click="challengeNC.prevTab()">Prev</button>
    <button class="btn btn-primary" ng-click="challengeNC.nextTab()">Next</button>
  </div>

</uib-tabset>
