header{
  position: absolute;
  top: 0;
  flex-direction: row;
  z-index: 9999;
  width: 15%;
  height: 100px;
  display: flex;
  // border: 1px solid red;
  justify-content: flex-start;
  align-items: center;
  // padding-top: $padding * 1;
  padding-left: $padding * 2;
  padding-top: $padding;
  a:hover, a:focus{
    text-decoration: none;
  }
  
  i{
    font-size: 300%;
  }
}

.smaller{
  font-size: 150% !important;
}

.smallMargin{
  margin-right: 10px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    border-radius: 50px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   border-radius: 50px;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   border-radius: 50px;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   border-radius: 50px;
}

/* do not group these rules */
*::-webkit-input-placeholder {
    color: red;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: red;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: red;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: red;
}