header{
  position: absolute;
  top: 0;
  flex-direction: row;
  z-index: 9999;
  width: 15%;
  height: 100px;
  display: flex;
  // border: 1px solid red;
  justify-content: flex-start;
  align-items: center;
  // padding-top: $padding * 1;
  padding-left: $padding * 2;
  
  i{
    font-size: 300%;
  }
}

.smaller{
  font-size: 150% !important;
}

.smallMargin{
  margin-right: 10px;
}