/***

  Left Bar

***/

#leftBar{

  height: 100vh;
  background-color: $blue;
  padding: $padding;
  text-align: center;
  @include headersLight();

  #profileImg{
    width: 100%;
    border-radius: 50%;
  }

  li a i {
    font-size: 200%;
  }
  
}