/***

  Alert

***/

.alert-icon {
  display: inline-block;
  padding-right: 15px;
}

.alert-text {
  display: inline-block;
}

i.icon-budicon-55 {
  font-size: 250%;
}

#authAlert{
  .alert{
    margin-bottom: 0px;
  }
  .alertIcon, .alertText{
    display: inline-block;
  }
  .alertIcon{
    padding-right: $padding;
  }
  margin-bottom: 0px;
  padding-bottom: 0px;
}

div.alertIcon{
  display: inline-block;
  float: left;
  margin-right: $padding;
  i{
    font-size: 140%;
  }
}