ul.list-group.billings {
  display: flex;
  flex-direction: column;
  li.list-group-item {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  span.amount {
    padding-right: 15px;
  }
  span.creditCard {
    padding-right: 15px;
  }
  span.date {
    flex: 1;
  }
}

