/***

  Challenge Detail View

***/

div#challengeDetail {
  font-family: 'Ubuntu', sans-serif;
  border: 1px solid #DEE2E5;
  border-radius: 3px;
  .panel-heading {
    // border: 1px solid green;
    background-color: #34495E;
    color: white;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    display: flex;
    border-bottom: 1px solid #DEE2E5;
    align-items: center;
    div:first-child {
      flex: 1;
      position: relative;
      margin-right: 15px;
      img.challengerImg,
      img.challengedImg {
        border-radius: 50%;
        width: 100%;
      }
      img.challengedImg {
        position: absolute;
        bottom: 0;
        left: 0px;
        width: 30%;
      }
      img.challengerImg {
        width: 50%;
        margin-left: 10px;
      }
    }
    span{
      flex: 5;
    }

    .time{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px 0; 
      font-weight: 400;
      color: #D2D6D9;
      i{
        margin-top: 5px;
        padding-right: 5px;
      }
    }
  }
  .panel-body {
    padding: 0px;
    .row{
      padding-left: 15px;
      display: flex;
      .leftChallenge{
        padding: 15px;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        flex: 1;
        div.type{
          display: flex;
          align-items: center;
          justify-content: center;
          i{
            padding-right: 15px;
            font-size: 150%;
            margin-top: 5px;
          }
          span{
            font-weight: 400;
            color: #7D8995;
          }
        }
        span.description{
          font-weight: 300;
          color: #7D8995;
          padding: 15px 0;
          display: flex;
        }
      }
      .rightChallenge{
        img{
          width: 100%;
        }
      }
    }
  }
  .panel-footer{
    border-top: 1px solid #DEE2E5;
    padding: 15px;
    display: flex;
    button{
      flex: 1;
    }
    div{
      flex: 3;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      a:first-child{
        color: #7D8995;
        padding-right: 15px;
        i{
          margin-top: 5px;
          color: #66D3E2;
          padding-right: 5px;
        }
      }
      a:last-child{
        color: #7D8995;
        i{
          margin-top: 5px;
          color: #66D3E2;
          padding-right: 5px;
        }
      }
    }
  }
}