/***

  Challenge Types/Categories

***/

label.badge {
  background-color: $blue;
  color: white;
  border: 0px solid white;
  padding: 15px;
  border-radius: 50px;
  text-transform: uppercase;
  margin: 5px;
  &:hover {
    cursor: pointer;
  }
}
label {
  &:hover {
    cursor: pointer;
  }
}
