/***

  Challenge Types/Categories

***/

label.badge {
  background-color: $blue;
  color: white;
  border: 0px solid white;
  padding: 15px;
  border-radius: 50px;
  text-transform: uppercase;
  margin: 5px;
  &:hover {
    cursor: pointer;
  }
}
label {
  &:hover {
    cursor: pointer;
  }
}
.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background-color: #204d74;
}