/***

  Challenge Detail View

***/

.xmark{
  color: #FF7978;
  font-size: 22px;
  position: absolute;
  left: -26px;
  top: -1px;
}

.xmarkCheck{
  color: $green;
  font-size: 22px;
  position: absolute;
  left: -26px;
  top: -1px;
}

div#challengeDetail {
  font-family: 'Ubuntu', sans-serif;
  border: 1px solid #F5F6F7;
  border-radius: 3px;
  width: 92%;
  a{
    color: #7D8995 !important;
    &:hover, &:active, &:visited, &:focus{
      text-decoration: none !important;
    }
  }
  .panel-heading {
    // border: 1px solid green;
    background-color: #FFFFFF;
    color: #586169;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    display: flex;
    border-bottom: 1px solid #F5F6F7;
    align-items: center;
    div:first-child {
      flex: 1;
      position: relative;
      margin-right: $padding;
      img.challengerImg,
      img.challengedImg {
        border-radius: 50%;
        width: 100%;
      }
      img.challengedImg {
        position: absolute;
        bottom: 0;
        left: 0px;
        width: 40%;
      }
      img.challengerImg {
        width: 65%;
        margin-left: 10px;
      }
    }
    span{
      position: relative;
      flex: 5;
    }

    .time{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: $padding 0; 
      font-weight: 400;
      color: #757575;
      i{
        margin-top: 5px;
        padding-right: 5px;
      }
    }
  }
  .panel-body {
    padding: $padding;
    flex: 1;
    display: flex;
    flex-direction: column;
    .social{
      // border: 1px solid blue;
      align-items: center;
      justify-content: flex-end;
      display: flex;
      .socialLeft{
        flex: 1;
      }
      a:first-child{
        padding-right: $padding;
      }
    }
    .type{
      font-size: 22px;
      text-align: center;
    }
    span.description{
      font-size: 18px;
      padding-top: $padding;
      padding-bottom: $padding;
      text-align: center;
    }
  }
}