@-webkit-keyframes ptAiguille {
  0% {
    transform: rotate(90deg); }
  100% {
    transform: rotate(360deg); } }

@-webkit-keyframes grdAiguille {
  0% {
    transform: rotate(00deg); }
  100% {
    transform: rotate(360deg); } }

.wrap {
  text-align: center; }

.clock {
  display: inline-block;
  position: relative;
  width: 15px;
  height: 15px;
  border: 1px solid #4097FF;
  border-radius: 18.75px;
  }

.clock:before,
.clock:after {
  content: '';
  width: 1px;
  position: absolute;
  left: 48%;
  background-color: #4097FF;
  border-radius: 5px;
  }

.clock:before {
  top: 2.75px;
  height: 4.75px;
  transform-origin: 50% 94%;
  animation: ptAiguille 52s linear infinite;
  }

.clock:after {
  top: 1.9px;
  height: 6.6px;
  transform-origin: 50% 97%;
  animation: grdAiguille 40s linear infinite;
  }