/***

  Profile

***/

#friendDetail{
  display: flex;
  img{
    border-radius: 50%;
    margin-bottom: 15px;
    max-width: 35%;
    margin: auto;
  }
  // align-items: center;
  // justify-content: center;
  flex-direction: column;
}

#fullPane{
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('https://s3-us-west-2.amazonaws.com/challengrimages/placeholder/cliff.jpg') no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  &:after{
    background-color: rgba(0,0,0, 0.5);
  }
}

ul.friendList {
  list-style-type: none;
  margin-top: $padding;
  padding-left: $padding * 2;
  padding-right: $padding * 2;
  font-size: 18px;
  li {
    padding: $padding;
    border-bottom: 1px solid #EFF0F4;
    &:hover {
      // background-color: rgba(50, 49, 51, 0.07);
      box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.08);
      text-decoration: none !important;
    }
    &.selected {
      border-left: 3px solid #88C057;
      background-color: rgba(50, 49, 51, 0.07);
    }
    img {
      width: 10%;
      border-radius: 50%;
      display: inline-block;
      border: 1px solid white;
      box-shadow: 1px 1px 1px #E6E6E6;
      margin-right: $padding;
    }
    p {
      display: inline-block;
      color: #70838D;
      &:hover{
        text-decoration: none !important;
      }
    }
  }
}

