/***

  Payments

***/

ul.list-group.billings {
  flex: 1;
  display: flex;
  flex-direction: column;
  // border: 1px solid green;
  height: 100%;
  width: 100%;
  
  li.list-group-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    span.date {
      text-transform: initial;
      color: #7D8995;
      flex: 1;
    }
    span.amount {
      padding-right: $padding;
      color: #323133;
      font-weight: bold;
    }
    span.creditCard {
      padding-right: $padding;
    }
  }
}

.charityAmount{
  padding: $padding 0;
  label.btn-primary{
    background-color: rgba(239, 240, 242, 0);
    border-color: white;
    padding: 10px 0;
    border: 1px solid white;
    color: white;
    transition: 0.3s;
    &:hover{
      background-color: #1779B2;
      border-color: #1779B2;
      color: white;
    }
    &.active{
      background-color: #1779B2;
      border: 1px solid #1779B2;
      color: white;
    }
  }
}