/***

  Profile

***/

.overlay {
  position: absolute;
  top: 0px;
  width: 250px;
  height: 250PX;
  background: rgba(26, 34, 39, 0.65);
  border-radius: 50%;
  opacity: 0;
} 
#profile{
  position: relative;
}
.icon-budicon-50{
  color: rgba(255, 255, 255, 0.47);
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 140px;
  margin-left: -70px;
  margin-top: -84px;
}
#profile:hover .overlay { 
  opacity: 0.7;
  cursor: pointer !important;
}

div.darkContainer{
  background-color: #1a2227 !important;
  h1, h2, h3, h4, h5, h6{
    color: white;
  }
}

.tab-content {
  margin-top: $padding;
}

.tab--footer {
  border-top: 1px solid #E4E7E7;
  padding-top: $padding;
  margin-top: $padding;
}

#profile {
  #account {
    margin: 0 auto;
    display: block;
  }
  .input-group {
    margin: $padding 0;
    border: 2px solid #DEDEDE;
    input {
      border: 0px solid white;
    }
  }
  button {
    border-radius: 50px;
    padding: 10px $padding*2;
    background-color: $unique;
    color: white;
    font-weight: bold;
    border: 0px solid white;
    margin: auto;
    margin-top: $padding*2;
    margin-bottom: $padding;
    display: block;
  }
  .btn-danger {
    background-color: #FF7978;
  }
}

#profilePic {
  max-height: 250px;
  max-width: 250px;
  border-color: #EFF0F2;
  border: 2px solid #DDDDDD;
  border-radius: 50%;
  &:hover{
    background-color: black !important;
  }
}

