/***

  Profile

***/

.tab-content {
  margin-top: $padding;
}

.tab--footer {
  border-top: 1px solid #E4E7E7;
  padding-top: $padding;
  margin-top: $padding;
}

#profile{

  #account{
    margin: 0 auto;
    display: block;
  }

  .input-group{
    margin: $padding 0;
    border: 2px solid #DEDEDE;

    input{
      border: 0px solid white;
    }
  }

  button{
    border-radius: 50px;
    padding: 10px $padding*2;
    background-color: $unique;
    color: white;
    font-weight: bold;
    border: 0px solid white;
    margin: auto;
    margin-top: $padding*2;
    margin-bottom: $padding;
    display: block;
  }

  .btn-danger{
    background-color: #FF7978;
  }
}