div#seg {
  width: 100%;
  padding-left: $padding * 2;
  padding-right: $padding * 2;
  padding-top: 0px;
}

ul.nav.nav-tabs {
  border: 1px solid $blue;
  border-radius: 4px;
  margin-top: 2px;
  margin-bottom: 20px;
}

.nav > li > a:hover, .nav > li > a:focus{
  text-decoration: none;
  background-color: $blue;
  border-top-left-radius: 0px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border: 0px solid transparent;
  background-color: $blue;
  color: white;
  border-radius: 0px;
  margin-right: 0px;
}

.nav-tabs > li {
  width: 50%;
  text-align: center;
  &:first-child{
    border-right: 1px solid $blue;
    border-bottom: none;
    margin-bottom: -1px;
  }
}

.nav-tabs li:first-child a{
  &:first-child{
    border-bottom-left-radius: 4px;
    &:hover{
      border-bottom-left-radius: 4px !important;
    }
  }
}
.nav-tabs li:last-child a{
  &:first-child{
    border-bottom-right-radius: 4px;
    &:hover{
      border-bottom-right-radius: 4px !important;
    }
  }
}


.nav-tabs > li > a{
  padding: 9px;
  margin-bottom: 0px;
  border-bottom: none;
  margin-right: 0px;
  color: white;
  transition: 0.3s;
  border: 0px solid transparent !important;
  text-transform: uppercase;
  &:hover{
    background-color: $blue;
    border-radius: 0;
    border: 0px solid $blue;
    color: white;
    margin-bottom: 0px;
  }
}
