
<div class="flexContainer">
  <h1 class="mk">Billing Info</h1>

  <div ng-init="profileCtrl.getBilling()" class="flex">

    <ul class="list-group billings">
      <li class="list-group-item" ng-repeat="transaction in profileCtrl.transactions">
        <span class="date">{{transaction.created | date : fullDate}}</span>
        <span class="amount">${{transaction.amount}}</span>
        <span class="creditCard">{{transaction.last4}}</span>
        <img ng-src="{{transaction.imgUrl}}">
      </li>
    </ul>

  </div>
</div>

<!-- 
<uib-tab heading="Billing Info" ng-init="profileCtrl.getBilling()">
  <ul class="list-group billings">
    <li class="list-group-item" ng-repeat="transaction in profileCtrl.transactions">
      <span class="date">{{transaction.created | date : fullDate}}</span>
      <span class="amount">${{transaction.amount}}</span>
      <span class="creditCard">{{transaction.last4}}</span>
      <img ng-src="{{transaction.imgUrl}}">
    </li>
  </ul>
</uib-tab> -->