<!--

signup.html


-->

<div ng-include=" 'partial/alert.html' "></div>

  <h1 class="mk white shadow">Sign Up</h1>

  <form class="mk" name= "signupForm" ng-submit="authCtrl.signup()">

    <div class="column">
      <label class="mk shadow">First Name</label>
      <input class="mk active" ng-model="authCtrl.firstName" type="text" required>
    </div>

    <div class="column">
      <label class="mk shadow">Last Name</label>
      <input class="mk active" ng-model="authCtrl.lastName" type="text" required>
    </div>

    <div class="column">
      <label class="mk shadow">Your Email</label>
      <input  class="mk"ng-model="authCtrl.email" type="text" required>
    </div>

    <div class="column">
      <label class="mk shadow">Password</label>
      <input  class="mk"ng-model="authCtrl.password" type="password" required>
    </div>

    <div class="column">
      <button  class="mk"type="submit">Sign Up</button>
    </div>  
  </form>

  <span class="mk white">
    Have an account? 
    <a class="mk" ui-sref="signin">Sign In</a>
  </span>