<!--

signin.html
creates sign in view

-->

<div ng-include=" 'partial/alert.html' "></div>

  <h1 class="mk above white shadow">Sign In</h1>

  <form class="mk above" name="signinForm" ng-submit="authCtrl.signin()">

    <div class="column">
      <label class="mk shadow">Your Email</label>
      <input class="mk" ng-class="{ activeFront: focus }" ng-focus="focus = true" ng-blur="focus = false" ng-model="authCtrl.email" type="text">
    </div>

    <div class="column">
      <label class="mk shadow">Password</label>
      <input class="mk" ng-class="{ activeFront: focus1 }" ng-focus="focus1 = true" ng-blur="focus1 = false" ng-model="authCtrl.password" type="password">
    </div>

    <div class="column">
      <button class="mk hoverShadow" type="submit">Sign In</button>
    </div>  
  </form>

  <span class="mk white">
    Need an account? 
    <a class="mk" ui-sref="signup">Sign Up</a>
  </span>