<!-- 

home.html 
injects all views into home page

-->

<!-- Search -->
<div class="input-group" ng-init="homeCtrl.read()">
  <input type="text" class="form-control" placeholder="Search" ng-model="search">
  <span class="input-group-addon"><i class="icon-budicon-11"></i></span>
</div>

<!-- 
  Active Challenge
  Send the challenger
  Send the challenge
-->

<challenge ng-repeat="challenge in homeCtrl.challenges | filter : search"
  challengeid = 'challenge.id',
  charityamount = 'challenge.charityAmount',
  title = 'challenge.title',
  description = 'challenge.description',
  challenged = '',
  likes = 'challenge.likes',
  completeddate = 'challenge.completed',
  expiresdate = 'challenge.expiresDate',
  issueddate = 'challenge.issuedDate',
  completed = 'challenge.completed',
  notcompleted = 'challenge.notCompleted',
  type = 'challenge.type'>
</challenge>


<!-- InCompleted Challenge -->
<incomplete ng-repeat="challenge in homeCtrl.challenges | filter : search"
  challengeid = 'challenge.id',
  charityamount = 'challenge.charityAmount',
  title = 'challenge.title',
  description = 'challenge.description',
  challenged = '',
  likes = 'challenge.likes',
  completeddate = 'challenge.completed',
  expiresdate = 'challenge.expiresDate',
  issueddate = 'challenge.issuedDate',
  completed = 'challenge.completed',
  notcompleted = 'challenge.notCompleted',
  type = 'challenge.type'>
</incomplete>
