
<label class="mk centerTxt marginTop4">Challenge Details</label>  

<div id="challengeDetailStep">
  <form class="mk" name="challengeForm" ng-submit="challengeNC.submitChallengeDetail()">

    <div class="column">
      <label class="mk">Type</label>
      <input class="mk active" type="text" ng-model="challengeNC.info.type" required>
    </div>

    <div class="column">
      <label class="mk">Title</label>
      <input class="mk" type="text" ng-model="challengeNC.info.title" required>
    </div>

    <div class="column">
      <label class="mk">Description</label>
      <input class="mk" type="text" ng-model="challengeNC.info.description" required>
    </div>

    <div class="column marginTop2">
      <button class="mk" type="submit">Next</button>  
    </div>

  </form>

  <span class="mk column alignCenter">
    Choose a different friend to challenge? 
    <button class="mk-complete2 marginTop" ui-sref="newChallenge">Back</button>
  </span>
</div>