
<label class="mk centerTxt">Challenge Details</label>  

<form class="mk" name="challengeForm" ng-submit="challengeNC.submitChallengeDetail()">

  <div class="column">
    <label class="mk">Type</label>
    <input class="mk active" type="text" ng-model="challengeNC.info.type" required>
  </div>

  <div class="column">
    <label class="mk">Title</label>
    <input class="mk" type="text" ng-model="challengeNC.info.title" required>
  </div>

  <div class="column">
    <label class="mk">Description</label>
    <input class="mk" type="text" ng-model="challengeNC.info.description" required>
  </div>

  <button class="mk" type="submit">Next</button>

</form>

<span class="mk">
  Choose a different friend to challenge? 
  <a ui-sref="newChallenge">Back</a>
</span>