<label class="mk centerTxt marginTop4">Choose Friend</label>  

<!-- Search Bar -->
<div id="searchBar" class="marginTop leftSidePadding">
  <i class="mk icon-budicon-44"></i>  
  <input type="text" id="searchInput" class="form-control" placeholder="Search..." ng-model="friendSearch">
</div>

<p class="mk" ng-show="challengeNC.friends.length === 0">No friends at the moment...</p>

<ul class="friendList" ng-init="challengeNC.loadFriends()">
  <a ui-sref="createChallengeDetail" ng-repeat="friend in challengeNC.friends | filter : friendSearch | limitTo : 5">
    <li ng-class="{ 'selected' : challengeNC.selectedFriend === $index }" ng-click="challengeNC.addFriend(friend, $index)">
      <img ng-src="{{friend.photoURL}}">
      <p>{{friend.firstName | capitalize}} {{friend.lastName | capitalize}}</p>
    </li>
  </a>
</ul>
