<label class="mk centerTxt marginTop4">Payment</label>  

<form class="mk sidePadding" id="checkout" ng-init="challengeNC.getToken()">
  
  <div id="payment-form"></div>

  <div class="btn-group btn-group-justified charityAmount">
    <label class="btn btn-primary" ng-model="challengeNC.info.info.charityAmount" uib-btn-radio="'.25'">25&#162;</label>
    <label class="btn btn-primary" ng-model="challengeNC.info.info.charityAmount" uib-btn-radio="'.50'">50&#162;</label>
    <label class="btn btn-primary" ng-model="challengeNC.info.info.charityAmount" uib-btn-radio="'1.00'">100&#162;</label>
  </div>
  
  <button class="mk marginTop" type="submit">Create Challenge</button>

  <span class="mk column alignCenter marginTop3 white">
    Choose a different charity to donate too?  
    <button class="mk-complete2 marginTop" ui-sref="createChallengeCharity">Back</button>
  </span>

</form>