<!-- 

  challengeDirective.html
  active and complete/incomplete challenges

-->
<!-- Active Challenges -->
<div class="challenge" ng-if="!completed && !notcompleted" ng-init="configureDirective()">
  <div class="challenge--heading">
    <div class="type">
      <span>{{type | capitalize}} - {{title | capitalize}}</span>
    </div>
    <div class="time">
      <i class="mk icon-budicon-58"></i>
      <span>{{remaining}}</span>
    </div>
  </div>
  <div class="challenge--main">
    <div>
      <img class="challengerImg" ng-src="{{challengechallenger.photoURL}}">
      <img class="challengedImg" ng-src="{{challengechallenged.photoURL}}">
    </div>
    <div>
      <span>{{challengechallenger.firstName | capitalize}} {{challengechallenger.lastName | capitalize}} challenged {{challengechallenged.firstName | capitalize}} {{challengechallenged.lastName | capitalize}}</span>
      <span>{{description | capitalize}}</span>
    </div>
    <div>
      <a class="noViewChange" ng-click="increaseLike()">
        <i ng-class=" likes > 0 ? 'icon-heart-1' : 'icon-heart-empty' " class="mk noViewChange"></i> {{likes}}
      </a>
      <a class="noViewChange">
        {{charityamount*100}}<span class="linkBlue"> &#162</span>
      </a>
    </div>
  </div>
</div>

<!-- Completed Challenge-->
<div class="completed completeSuccess" ng-if="completed">
  <div>
    <i class="icon-checkbox"></i>
  </div>
  <div>
    <span>{{challengechallenged.firstName | capitalize}} {{challengechallenged.lastName | capitalize}} completed {{challengechallenger.firstName | capitalize}} {{challengechallenger.lastName | capitalize}}'s challenge</span>
    <span>{{title}}</span>
  </div>
  <div>
    <i class="completedClock icon-budicon-58"></i>
    <span am-time-ago="issueddate"></span>
  </div>
  <div>
    <a class="noViewChange" ng-click="increaseLike()">
      <i ng-class=" likes > 0 ? 'icon-heart-1' : 'icon-heart-empty' " class="mk noViewChange"></i> {{likes}}
    </a>
  </div>
  <div>
    <a href="">
      {{charityamount*100}}<span class="linkBlue"> &#162</span>
    </a>
  </div>
</div>

<!-- Not Completed Challenge -->
<div class="completed notCompleted" ng-if="notcompleted">
  <div>
    <i class="icon-budicon-57"></i>
  </div>
  <div>
    <span>{{challengechallenged.firstName | capitalize}} {{challengechallenged.lastName | capitalize}} failed {{challengechallenger.firstName | capitalize}} {{challengechallenger.lastName | capitalize}}'s challenge</span>
    <span>{{title}}</span>
  </div>
  <div>
    <i class="failedClock icon-budicon-58"></i>
    <span am-time-ago="issueddate"></span>
  </div>
  <div>
    <a class="noViewChange" ng-click="increaseLike()">
      <i ng-class=" likes > 0 ? 'icon-heart-1' : 'icon-heart-empty' " class="mk noViewChange"></i> {{likes}}
    </a>
  </div>
  <div>
    <a href="">
      {{charityamount*100}}<span class="linkBlue"> &#162</span>
    </a>
  </div>
</div>
