/***

  Base Sass Variables and Mixins that almost .scss every file will need to import

  Base: defaults, single element selectors

  Naming Convention:
  .moduleName{}
  .moduleName-subModule{}
  .moduleName.stateName{}
  .layout-layoutName{}
  .layout-layoutName--subLayoutName{}

***/

@import 'variables';
@import 'mixins';

body {
  /*** Headers ***/
  // @include headersDark();

  // /*** Lists ***/
  // @include lists();

  // /*** Links ***/
  // @include links(); 

  /*** Font ***/
  font-family: $font;
}

// GLOBAL
.blue{ color: $blue !important; }
.fullHeight{ height: 100vh !important; }
.dark{
  background-color: $darkBG;
}
.centerTxt{ text-align: center; }
.noCenterTxt{ text-align: initial !important; }

.marginTop{
  margin-top: 12px;
}

.marginTop2{
  margin-top: $padding * 2;
}

a.noDecoration{
  &:hover{
    text-decoration: none !important;
  }
}

.marginTop3{
  margin-top: 2em;
}

.marginTop4{
  margin-top: 1em;
}

.leftSidePadding{
  padding-left: $padding * 2;
  padding-right: $padding;
}

.sidePadding{
  padding-left: $padding * 2;
  padding-right: $padding * 2;
}

.justifyCenter{
  justify-content: center !important;
}

.alignCenter{
  align-items: center !important;
}

.noTopPadding{
  padding-top: 0px !important;
}

.shadow{
  text-shadow: 1px 1px 1px black;
}

.circle{
  border-radius: 50%;
}

.column{ flex-direction: column; }

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.flexContainer{
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  flex: 1;
  width: 100%;
  // border: 1px solid blue;
  justify-content: center !important;
}
div.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

div.flex{
  // border: 1px solid red;
  display: flex;
  // flex: 1;
  width: 80%;
  justify-content: center;
  align-items: center;
}

.white{
  color: white !important;
}