/***

SCSS Variables

***/

/*** BG Colors ***/
$lightBG: white;

/*** Colors ***/
$dark: #323133;
$darkV2: #333333;
$light: #808080;
$lighter: #D2D6D9;
$lightest: white;
$blue: #34495E;

/*** Fonts ***/
$lgFont: 14px;
$smFont: 13px;

/*** Fonts ***/
$font : 'Lato', sans-serif;

/*** Padding ***/

$padding: 15px;