/***

SCSS Variables

***/

/*** BG Colors ***/
$lightBG: white;
$darkBG: #1a2227;

/*** Colors ***/
$blue: #147AB4;
$red: #FF7D7C;
$green: #43CB83;

/*** Fonts ***/
$lgFont: 14px;
$smFont: 13px;

/*** Fonts ***/
$font : 'Lato', sans-serif;

/*** Padding ***/
$padding: 15px;