<!--

challenge-personal.html
loads all challenge related to the user

-->

<uib-tabset id="seg" class="marginTop3" ng-if="globalRightDetailView">
  <uib-tab heading="Challenges Received" class="white" active="challengeNC.tabs[1]" ng-init="personalChallengeC.readMyChallenges()">

    <div id="searchBar">
      <i class="mk icon-budicon-44"></i>  
      <input type="text" id="searchInput" class="form-control" placeholder="Search..." ng-model="myChallengesSearch">
    </div>

    <p class="mk" ng-show="!challenge.notCompleted && !challenge.completed">Currently, no challenges to complete</p>

    <div class="challenge" ng-repeat="challenge in personalChallengeC.myChallenges | filter : myChallengesSearch" ng-click="personalChallengeC.showDetail(challenge, $event)" ng-if="!challenge.notCompleted && !challenge.completed">

      <div class="challenge--heading">
        <div class="type">
          <span>{{challenge.type | capitalize}} - {{challenge.Challenger.firstName | capitalize}} {{challenge.Challenger.lastName | capitalize}}</span>
        </div>
        <div class="time">
          <i class="mk icon-budicon-58"></i>
          <span am-time-ago="challenge.issuedDate"></span>
        </div>
      </div>

      <div class="challenge--main">
        <div>
          <img class="challengedImage" ng-src="{{challenge.Challenger.photoURL}}">
        </div>
        <div>
          <span>{{challenge.title | capitalize}}</span>
          <span>{{challenge.description | capitalize}}</span>
        </div>
        <div>
          <a class="noViewChange" ng-click="personalChallengeC.increaseLike(challenge)">
            <i ng-class=" challenge.likes > 0 ? 'icon-heart-1' : 'icon-heart-empty' " class="noViewChange mk"></i> {{challenge.likes}}
          </a>
          <a class="noViewChange">
            {{challenge.charityAmount*100}}<span class="linkBlue"> &#162</span>
          </a>
        </div>
      </div>

    </div>

  </uib-tab>
  <uib-tab heading="Challenges Sent" class="white" active="challengeNC.tabs[2]" ng-init="personalChallengeC.readImposedChallenges()">

    <div id="searchBar">
      <i class="mk icon-budicon-44"></i>  
      <input type="text" id="searchInput" class="form-control" placeholder="Search..." ng-model="imposedChallengeSearch">
    </div>

    <p class="mk" ng-show="!challenge.notCompleted && !challenge.completed">You haven't challenged anyone lately...
    </p>

    <button ng-if="personalChallengeC.imposedChallenges.length === 0" class="mk center marginTop3" ui-sref="newChallenge">Challenge Someone</button>

    <div class="challenge" ng-repeat="challenge in personalChallengeC.imposedChallenges | filter : imposedChallengeSearch" ng-click="personalChallengeC.showDetail(challenge, $event)" ng-if="!challenge.notCompleted && !challenge.completed">

      <div class="challenge--heading">
        <div class="type">
          <span>{{challenge.type | capitalize}} - {{challenge.Challenger.firstName | capitalize}} {{challenge.Challenger.lastName | capitalize}}</span>
        </div>
        <div class="time">
          <i class="mk icon-budicon-58"></i>
          <!-- <span>{{challenge.remaining}}</span> -->
          <span am-time-ago="challenge.issuedDate"></span>
        </div>
      </div>
      
      <div class="challenge--main">
        <div>
          <img class="challengedImage" ng-src="{{challenge.Challenged.photoURL}}">
        </div>
        <div>
          <span>{{challenge.title | capitalize}}</span>
          <span>{{challenge.description | capitalize}}</span>
        </div>
        <div>
          <a class="noViewChange" ng-click="personalChallengeC.increaseLike(challenge)">
            <i ng-class=" challenge.likes > 0 ? 'icon-heart-1' : 'icon-heart-empty' " class="noViewChange mk"></i> {{challenge.likes}}
          </a>
          <a class="noViewChange">
            {{challenge.charityAmount*100}}<span class="linkBlue"> &#162</span>
          </a>
        </div>
      </div>

    </div>

  </uib-tab>
</uib-tabset>

<div ui-view="challengeDetail"></div>